.file-input {
    display: block;
    padding: $gap-6 $gap-5;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    cursor: pointer;
    color: #8a766a;
    font-weight: 500;

    img {
        width: 50px;
        display: block;
        margin-bottom: $gap-3;
        cursor: pointer;
        opacity: 0.4;
        transition: 0.4s;
    }

    label {
        cursor: pointer;
    }

    input {
        display: none;
    }
}

.file-input:hover {
    img {
        opacity: 0.9;
    }
}