.ligand-table {
    margin: $gap-2 auto;
    border-collapse: collapse;

    tr {

        td {
            padding: $gap-1;
        }

        td:nth-child(1) {
            font-weight: 600;
            text-align: right;
        }

        td:nth-child(2) {
            font-weight: 300;
        }
    }
}