.protein-view-options {
    position: absolute;
    bottom: $gap-4;
    left: $gap-4;
    display: grid;
    grid-template-columns: 160px 160px;
    gap: $gap-3;
    background-color: #ffffff00;

    .option {
        label {
            font-size: $font-size-2;
            font-weight: 600;
            margin-bottom: $gap-1;
            color: black;
        }
        .ligand-rep-selector, .target-rep-selector {
            font-size: $font-size-2;
    
            * {
                cursor: pointer;
            }
        }
    }
}